.icon-img {
  width: 70%; /* Ajusta el tamaño en relación al contenedor */
  height: auto; /* Mantiene la proporción del ícono */
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Ajusta según sea necesario */
}

.avatar-md {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.status {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.card-body {
  padding: 1.7rem;
}
.badge {
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}
.form-select {
  padding: 0.5rem;
  font-size: 0.875rem;
}
.progress {
  height: 6px;
}
.progress-bar {
  line-height: 6px;
}
.card-header,
.card-body {
  border-radius: 1.5rem;
}
#cotizaciones {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr)); /* Tamaño mínimo de las tarjetas */
  gap: 20px; /* Espacio entre las tarjetas */
  padding: 0; /* Sin padding adicional */
  box-sizing: border-box;
  justify-content: center; /* Centra el grid dentro del contenedor */
}



.avatar-foto {
  width: 50px; /* Tamaño del avatar */
  height: 50px; /* Tamaño del avatar */
  background-color: #754ffe; /* Color de fondo del avatar, ajusta según sea necesario */
  color: white; /* Color del texto */
  font-size: 1.5rem; /* Tamaño de fuente del texto */
  border-radius: 50%; /* Hace que el avatar sea circular */
  text-align: center; /* Centra el texto horizontalmente */
  display: flex; /* Utiliza flexbox para centrar el contenido */
  align-items: center; /* Centra el texto verticalmente */
  justify-content: center; /* Centra el texto horizontalmente */
}

.avatar-foto-text {
  font-weight: bold; /* Estilo del texto, opcional */
  text-transform: uppercase; /* Convierte el texto a mayúsculas */
}